@mixin display-align-center {
  display: flex;
  align-items: center;
}

@mixin display-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@mixin display-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin display-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-inline-justify-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin display-justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin display-justify-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@mixin display-align-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin font-gradient {
  background: linear-gradient(to right, #202020, #67D2BE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-gradient {
  background: linear-gradient(to right, #fff, #67D2BE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin gradient-text {
  background-image: -webkit-linear-gradient(left,  #fff, #67D2BE, #4378AC
  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



