.overlap_bar {
  padding: 22px 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  background: rgba(35, 35, 35, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  .main_container {
    width: 100%;
    max-width: 1548px;
    padding: 0 16px;
    margin: 0 auto;
    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      li {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        text-transform: capitalize;
        img{
            max-width: 100%;
    height: auto;
        }
      }
    }
  }
}
