
$default-font: 'Helvetica';
$pretendard-font: 'Pretendard';



// Black
$black-00: #000000;
$black-18: #181818;
$black-33: #333333;
$black-18: #181818;
$black-181:#18171E;
$black-66: #666666;
$black-181:#18171E;
// Gray

$gray-66: #666666;
$gray-82: #828282;
$gray-a4: #A4A4A4;
$gray-cf: #CFCFCF;
$gray-4c: #4C4C4C;
$gray-fa: #FAFAFA;

// White
$white-ff: #ffffff;
$white-f2: #F2F8F9;
$white-fb: #FBFBFB;

// Blue
$blue-67: #67D2BE;
$blue-51:#102451;
$blue-81:#205081;
$blue-23:#232323;
//red
$red-52: #d45352;



